.logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  text-transform: uppercase;
  &__icon {
    width: 2.6rem;
  }
  &__text {
    font-weight: 800;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
  }
  &__subtext {
    font-size: 0.8rem;
    font-weight: 700;
  }
}
