.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}
.row__label {
  font-weight: 600;
}
.row__container {
  outline: 0.125rem solid #d1d5db;
  padding: 0 1rem;
  border-radius: 0.3125rem;
  background-color: #ffffff;
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row__container:focus-within {
  outline: 0.225rem solid #d1d5db;
}
.row__error {
  outline: 0.125rem solid var(--error-color);
  color: var(--error-color);
}
.row__error:focus-within {
  outline: 0.225rem solid var(--error-color);
}

.row__input {
  width: 100%;
  outline: 0.125rem solid transparent;
  padding: 0.75rem 0;
  background-color: transparent;
}
.row__icon {
  color: var(--error-color);
}
.row__message {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
  color: var(--error-color);
}
