.login {
  background-color: #fffdfb;
  height: 100dvh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &__content {
    padding: 1rem 10rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 2rem;
  }
  &__logo {
    width: 21.25rem;
    align-self: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    label {
      font-weight: bold;
      color: #020202;
      font-size: 20px;
      margin-bottom: 0.5rem;
    }

    &-btn {
      background-color: #f0a444;
      color: var(--bg-color);
      padding: 0.9rem;
      border-radius: 0.3rem;
      font-weight: bold;
      cursor: pointer;
    }
  }
  &__forgot-password {
    color: #7485d0;
    font-size: 0.9rem;
    cursor: pointer;
    text-align: right;
    margin-top: -0.5rem;
  }

  &__bg {
    background-image: url('images/impact-social-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__register-link {
    color: #7485d0;
    text-decoration: none;
  }
}
