.header {
  padding: 0.8rem 1rem;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  flex-direction: row-reverse;
  display: flex;
  gap: 20px;
  align-items: center;
}
header button {
  cursor: pointer;
}

.avatar {
  margin-left: auto;
  max-width: 11.5rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;

  &__name {
    font-size: 0.75rem;
    color: var(--primary-color);

    display: flex;
    flex-direction: column;
  }
  &__email {
    color: var(--bg-color);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(251, 226, 35);
}

.modal-content button {
  margin: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  gap: 20px;
}

.modal-buttons button {
  margin: 0 10px;
}
