.header {
  padding: 0.8rem 1rem;
  background-color: var(--secondary-color);
  color: var(--bg-color);
}

.avatar {
  margin-left: auto;
  width: 9.5rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  &__name {
    font-size: 0.75rem;
    color: var(--primary-color);

    display: flex;
    flex-direction: column;
  }
  &__email {
    color: var(--bg-color);
  }
}
